body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 50px;
}
#question-container {
    margin-bottom: 20px;
}
#options-container {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}
#end-container{
    text-align: center;
    margin-top: 20px;
}
.option {
    cursor: pointer;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 5px;
    width: 450px;
    text-align: center;
}
#next-btn {
    background-color: #008CBA; /* Blue */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    position: absolute;left:25px;
}
#submit-btn {
    background-color: #04AA6D; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    margin: 0;
    position: absolute;
    top: 30%;
    right:50%;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
}